<% content_for :head do %>
  <script src="/assets/relationship.js"></script>
<% end %>
<h1>ユーザー</h1>
<%= image_tag @user.image.url, size: '300x230', class:'' %>
<section class="stats">
  <%= render 'shared/stats' %>
</section>
<% if @current_user %>
  <div id="relationship-button" data-vue='{"followerId": "<%= @current_user.id %>","followedId": "<%= @user.id %>" }'>
  </div>
<% end %>
<p><%= @user.name %></p>