<header>
  <h1 id="logo"><a href="/">YOIMONO</a></h1>
  <ul>
    <% if @current_user %>
      <li><%= link_to 'モノ登録', new_item_path, class: 'dropdown-item' %></li>
      <li><%= link_to 'マイページ', mypage_path, class: 'dropdown-item' %></li>
      <li><%= link_to t("ログアウト"), logout_path, data: { turbo_method: :delete } %></li>
    <% else %>
      <li><%= link_to '会員登録', new_user_path, class: 'dropdown-item' %></li>
      <li><%= link_to 'ログイン', login_path, class: 'dropdown-item' %></li>      
    <% end %>
  </ul>
  <div id="menubar_hdr">
    <span></span><span></span><span></span>
  </div>
  <div id="menubar">
    <% if @current_user %>
      <%= link_to 'マイページ', mypage_path, class: 'dropdown-item' %>
      <%= link_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-item' %>
    <% else %>
      <%= link_to '会員登録', new_user_path, class: 'dropdown-item' %>
      <%= link_to 'ログイン', login_path, class: 'dropdown-item' %>
    <% end %>
  </div>
</header>