<!DOCTYPE html>
<html>
  <head>
    <title>YOIMONO お気に入りのモノを登録しよう</title>
    <meta name="description" content="買ってよかったモノやお気に入りのモノをシェアするサイトです">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/@rails/ujs@7.1.1/app/assets/javascripts/rails-ujs.min.js"></script>
    <%= yield :head %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'shared/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
